{% extends 'base.html' %}
{% load staticfiles %}


{% block link %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
<div class="contents">
        <div class="login_form">
                <br>
                <form method="POST" action="{% url 'login'%}">

                {% csrf_token %}
                <input class="acc" name="username" type="text" value="" placeholder=" MEMBER ID" required>
                <br><br>
                <input class="acc" name="password" type="password" value="" placeholder=" PASSWORD" required>
                <br>
                <br>
                <input class="btn btn-secondary" type="submit" value="LOGIN">
                <input class="btn btn-secondary" type="button" value="REGISTER" onClick="location.href='{%url 'register'%}'">
                </form>
        </div>
</div>
{% endblock %}