{% extends 'base.html' %}
{% load staticfiles %}


{% block link %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
<div class="contents">
        <div class="login_form">
                <h1>Login</h1>
                <br>
                <form method="POST" action="{% url 'login'%}">

                {% csrf_token %}
                <input name="username" type="text" value="" placeholder="MEMBER ID">
                <br><br>
                <input name="password" type="password" value="" placeholder="PASSWORD">
                <br>
                <br>
                <input class="btn btn-secondary" type="submit" value="로그인">
                <input class="btn btn-secondary" type="button" value="회원가입" onClick="location.href='{%url 'register'%}'">
                </form>
        </div>
</div>
{% endblock %}