{% extends 'base.html' %}
{% load staticfiles %}



{% block link %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}



{% block content %}
<div class="contents">
    <div>
        <form method="POST" action="{% url 'register'%}">
        {% csrf_token %}
            <br>
            <input class="acc" name="username" type="text" value="" placeholder=" MEMBER ID" required>
            <br>
            <br>
            <input class="acc" name="password1" type="password" value="" placeholder=" PASSWORD" required>
            <br>
            <br>
            <input class="acc" name="password2" type="password" value="" placeholder=" PASSWORD AGAIN" required>
            <br>
            <br>
            <input class="btn btn-secondary" type="submit" value="REGISTER">
        </form>
        </div>
</div>
{% endblock %}