*{box-sizing : border-box;}

.root {
    margin: auto;
    width: 90%;
}





/*
*
헤더
*
*/
.header {
    height: 120px;
    display: flex;
}

.mall_name {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 1.5px solid #f2f2f2;
}

nav#navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1.5px solid #f2f2f2;
}

nav#navbar ul {
    list-style: none;
    text-align: center;
    
    padding: 10px 0;
}

nav#navbar ul li{
    display: inline;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 8px;
}

nav#navbar ul li a{
    text-decoration: none;
    color: black;
}

nav#navbar ul li a:hover{
    text-decoration: underline;
}





/*
*
메인
*
*/

.main {
    display: flex;
    border-style: solid;
    border-width: 1.5px;
    border-color: #F2F2F2;
}

.search {
    margin-top: 1em;
    margin-bottom: 3em;
}

aside#category {
    width: 30%;
    padding: 2em;
    border-right: 1.5px solid #f2f2f2;
}

aside#category h4{
    font-size: 25px;
    margin-top: 0;
    margin-bottom:1em;

}

aside#category ul{
    font-size: 15px;
    list-style: none;
    text-indent: 15px;
    padding: 0;
    margin-bottom: 100px;
}

aside#category ul li{
    line-height: 28px;
    border-bottom: 1px solid #333;
}

aside#category ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

aside#category ul li a:hover{
    background: #d8d8d8;
}

.contents {
    width: 70%;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.item {
    width: 30%;
    height: 40vh;
    margin-bottom: 3em;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    text-decoration: none;
}

.item_img {
    height: 75%;
}


.item_img img {
    width: 100%;
    height: 100%;
}

.item_name {
    height: 25%;
    padding-top: 0.5em;
}



/*
*
풋터
*
*/

#footer {
    width: 100%; 
    height: 100px;
    border-right: 1.5px solid #f2f2f2;
    border-left: 1.5px solid #f2f2f2;
}
.copyright {width: 520px; margin: 30px 30px 30px 220px; float: left; text-align: center;}
.sns_wrap {width: 308px; float: left; height: 40px; margin: 30px 20px;}
.sns_wrap li {float: left; width: 33.33%}




/*
*
search.html
*
*/
.search_result {
    width:100%;
}



/* 
*
detail.html
*
*/
.contents {
    padding: 4em 8em 4em 8em;
    display: flex;
}

.det_img {
    width:45%;
    height: 50vh;
    background-color: antiquewhite;
}

.det_img > img {
    width: 100%;
    height: 100%;
}

.det_about {
    width: 45%;
}

.det_about h4 {
    margin-bottom: 30px;
}

.det_field {
    margin-right: 3em;
}

.det_btn {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
}

.det_btn button {
    width: 32%;
    height: 40px;
    border-radius: 0;
}