{% extends 'base.html' %}
{% block content %}
<div class="contents">
    {% for cap in caps %}
    <div class="item">
        <div class="item_img">
            <a href="{% url 'detail' cap.id %}"><img src=../{{cap.image}}></a>
        </div>
        <a href="{% url 'detail' cap.id %}">
            <div class="item_name">
                {{cap.title}}<br>
                ─{{cap.price}}원
            </div>
        </a>
    </div>
    {% endfor %}
    <div class="item"></div>
    <div class="item"></div>
</div>
{% endblock %}