{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="contents">
    <div class="det_img">
        <img src=../{{product.image}}>
    </div>

    <div class="det_about">
        <h4><strong>{{product.title}}</strong></h4>
        <div class="det_line">
            <span class="det_field">PRICE</span>
            <span class="det_contents">{{product.price}}원</span>
            <span class="js-price" style="display: none;">{{product.price}}</span>
        </div>
        <div class="det_line">
            <span class="det_field">COLOR</span>
            <span class="det_contents">
                <select id="" name="" required>
                    <option value="" selected disabled hidden >OPTION</option>
                    {% for option in color_option %}
                        <option value={{option}}>{{option}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
        <div class="det_line">
            <span class="det_field">SIZE</span>
            <span class="det_contents">
                <select id="" name="" required>
                    <option value="" selected disabled hidden >OPTION</option>
                    {% for option in size_option %}
                        <option value={{option}}>{{option}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>

        <div class="det_totalPrice">
            <div class="det_tleft">
                <input type="number" value="1" class="js-ea">
                <span><strong>총상품금액(수량)</strong></span>
            </div>
            <div class="det_tright">
                <span><strong class="js-total_price">{{product.price}}원(1개)</strong></span>
            </div>
        </div>

        <div class="det_btn">
            <button type="button" class="btn btn-outline-dark">BUY</button>
            <button type="button" class="btn btn-outline-dark">CART</button>
            <button type="button" class="btn btn-outline-dark">WISH</button>
        </div>
        <hr style="margin-bottom: 1em;">
        <h5>INSTRUCTION</h5>
        <p>제품에 대한 소개가 들어가는 곳 입니다.</p>
        
        
    </div>


</div>
{% endblock %}

{% block script %}
<script src="{% static 'front/detail.js' %}"></script>
{% endblock %}