{% extends 'base.html' %}
{% block content %}
<div class="contents">
    {% for shoe in shoes %}
    <div class="item">
        <div class="item_img">
            <a href="{% url 'detail' shoe.id %}"><img src=../{{shoe.image}}></a>
        </div>
        <a href="{% url 'detail' shoe.id %}">
            <div class="item_name">
                {{shoe.title}}<br>
                ─{{shoe.price}}원
            </div>
        </a>
    </div>
    {% endfor %}
    <div class="item"></div>
    <div class="item"></div>
</div>
{% endblock %}